examples/grinder-animation-flow.json
[{"id":"476b5e78.8443f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed7d8350.3121f","type":"ui_template","z":"476b5e78.8443f","group":"4e289f9f.33bda","name":"","order":0,"width":0,"height":0,"format":"<div id=\"graphics\" ng-init=\"checkSVG()\">\n\n    <!-- SVG FILE CONTENT BELOW -->\n<svg viewBox=\"0 0 640 400\" width=\"960px\" height=\"600px\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:bx=\"https://boxy-svg.com\">\n  <defs>\n    <pattern id=\"pattern-1\" viewBox=\"0 0 100 100\" patternUnits=\"userSpaceOnUse\" preserveAspectRatio=\"none\" width=\"100\" height=\"100\" bx:pinned=\"true\">\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"15.775\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"94.648\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"78.875\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"63.1\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"47.325\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"31.55\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"15.775\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"94.648\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"78.875\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"63.1\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"47.325\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n      <rect width=\"5.352\" height=\"100\" style=\"fill: rgb(202, 202, 202);\" x=\"31.55\" transform=\"matrix(0, -1, 1, 0, 0, 100)\"></rect>\n    </pattern>\n    <pattern id=\"pattern-1-0\" patternTransform=\"matrix(1, 0, 0, 1, 399.123489, 112.297504)\" xlink:href=\"#pattern-1\"></pattern>\n  </defs>\n  <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"210.115\" cy=\"-248.935\" r=\"30.654\" transform=\"matrix(1, 0, 0, -1, 0, 0)\"></circle>\n  <g id=\"base@cx_move\" transform=\"matrix(1, 0, 0, 1, 0.001433, -0.000973)\" bx:origin=\"0.901 0.897\">\n    <g transform=\"matrix(1, 0, 0, 1, -15.12639, 59.383152)\">\n      <path d=\"M 245.935 189.528 C 245.935 200.574 236.981 209.528 225.935 209.528 L 125.935 209.528 C 114.889 209.528 105.935 200.574 105.935 189.528 C 105.935 178.482 114.889 169.528 125.935 169.528 L 225.935 169.528 C 236.981 169.528 245.935 178.482 245.935 189.528 Z\" style=\"stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke; fill: rgb(216, 216, 216);\"></path>\n      <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"225.935\" cy=\"189.528\" r=\"6\"></circle>\n      <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"125.935\" cy=\"189.528\" r=\"6\"></circle>\n      <g id=\"arm@cx_move\" transform=\"matrix(1.000005, -0.000072, 0.000072, 1.000005, -0.01352, 0.009146)\" bx:origin=\"0.669 0.921\">\n        <path style=\"fill: rgb(216, 216, 216); vector-effect: non-scaling-stroke; stroke: rgb(0, 0, 0);\" d=\"M 151.958 95.206 C 159.7 100.61 159.642 111.678 152.744 117.201 C 153.179 119.052 153.244 121.021 152.869 123.009 L 139.866 192.03 C 138.43 199.654 131.086 204.67 123.462 203.234 C 115.838 201.797 110.822 194.453 112.258 186.829 L 125.261 117.808 C 125.932 114.243 127.896 111.248 130.576 109.217 C 130.331 107.977 130.253 106.669 130.37 105.312 C 130.518 103.591 130.989 101.912 131.758 100.365 L 144.081 106.491 Z\"></path>\n        <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"250\" cy=\"140\" r=\"4.214\" transform=\"matrix(-0.185133, 0.982713, -0.982713, -0.185133, 309.928281, -30.33272)\"></circle>\n        <path d=\"M 150.204 109.396 C 150.204 114.465 144.467 118.575 137.389 118.575 L 73.313 118.575 C 66.235 118.575 60.497 114.465 60.497 109.396 C 60.497 104.326 66.235 100.217 73.313 100.217 L 137.389 100.217 C 144.467 100.217 150.204 104.326 150.204 109.396 Z\" style=\"stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke; fill: rgb(216, 216, 216);\" transform=\"matrix(0.91769, 0.397298, -0.397298, 0.91769, 52.134224, -32.851111)\"></path>\n        <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"150\" cy=\"140\" r=\"4.214\" transform=\"matrix(-0.185133, 0.982713, -0.982713, -0.185133, 302.477619, 2.113469)\"></circle>\n        <circle style=\"stroke: rgb(0, 0, 0); stroke-width: 3px; fill: none;\" cx=\"140.154\" cy=\"91.821\" r=\"9.779\" id=\"spring@cx_hide\"></circle>\n        <g id=\"clamp@cx_move\" transform=\"matrix(1, 0.000142, -0.000142, 1, 0.013018, -0.010118)\" bx:origin=\"0.404 0.879\">\n          <path d=\"M 147.505 63.466 C 148.056 65.032 147.779 66.763 146.856 68.435 C 148.588 70.85 149.542 73.89 149.274 77.247 C 149.141 78.919 148.693 80.552 147.955 82.059 L 135.954 76.183 L 128.372 87.186 C 125.796 85.411 124.098 82.99 123.244 80.356 L 77.585 96.414 C 70.908 98.763 64.324 97.336 62.879 93.229 C 61.434 89.12 65.676 83.887 72.353 81.539 L 132.799 60.279 C 139.477 57.931 146.059 59.357 147.505 63.466 Z\" style=\"stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke; fill: rgb(216, 216, 216);\" transform=\"matrix(0.511457, -0.859309, 0.859309, 0.511457, -42.598212, 105.649719)\" bx:origin=\"0.104 0.811\"></path>\n          <circle style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" cx=\"150\" cy=\"140\" r=\"3.251\" transform=\"matrix(0.749767, 0.661702, -0.661702, 0.749767, 51.700678, -113.895477)\" bx:origin=\"0.503 0.484\"></circle>\n        </g>\n      </g>\n    </g>\n  </g>\n  <path d=\"M 53.558 48.107 L 75.115 99.382 L 32 99.382 L 53.558 48.107 Z\" style=\"fill: rgb(149, 214, 255);\" transform=\"matrix(0.940434, -0.339975, 0.339975, 0.940434, 183.702133, 40.060272)\" id=\"spray@cx_hide\" bx:shape=\"triangle 32 48.107 43.115 51.275 0.5 0 1@7ad0f656\"></path>\n  <path d=\"M 437.985 165 C 437.985 221.886 391.877 268 335 268 C 278.123 268 232.015 221.886 232.015 165 C 232.015 108.115 278.123 62 335 62 C 391.877 62 437.985 108.115 437.985 165 Z M 335 150.019 C 326.727 150.019 320.021 156.726 320.021 165 C 320.021 173.274 326.727 179.981 335 179.981 C 343.273 179.981 349.979 173.274 349.979 165 C 349.979 156.726 343.273 150.019 335 150.019 Z\" style=\"vector-effect: non-scaling-stroke; fill: rgba(241, 130, 61, 0.52);\" id=\"wheel@cx_color\"></path>\n  <g>\n    <rect x=\"240\" y=\"38.933\" width=\"210\" height=\"6\" style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" rx=\"3\" ry=\"3\"></rect>\n    <rect x=\"444\" y=\"38.933\" width=\"6\" height=\"248\" style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" rx=\"3\" ry=\"3\"></rect>\n    <rect x=\"240\" y=\"38.933\" width=\"6\" height=\"13.433\" style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" rx=\"3\" ry=\"3\" transform=\"matrix(0.952035, -0.305989, 0.305989, 0.952035, -1.279324, 76.394325)\" bx:origin=\"0.506 0.249\"></rect>\n    <rect x=\"237.67\" y=\"48.798\" width=\"11.423\" height=\"19.083\" style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" rx=\"2.07\" ry=\"2.07\" transform=\"matrix(0.950608, -0.310393, 0.310393, 0.950608, -1.955416, 75.861954)\"></rect>\n    <rect x=\"444\" y=\"280.933\" width=\"33.36\" height=\"6\" style=\"fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0); vector-effect: non-scaling-stroke;\" rx=\"3\" ry=\"3\"></rect>\n  </g>\n  <g transform=\"matrix(0.312594, 0, 0, 0.312594, 456.173401, 258.53302)\" style=\"\">\n    <title>Pump</title>\n    <path d=\"M 122.207 117.584 C 122.207 110.484 116.396 104.727 109.229 104.727 C 102.061 104.727 96.251 110.484 96.251 117.584 C 96.251 124.685 102.061 130.441 109.229 130.441 C 116.396 130.441 122.207 124.685 122.207 117.584 Z M 159.7 117.584 C 159.7 89.97 137.103 67.584 109.229 67.584 C 81.354 67.584 58.758 89.97 58.758 117.584 C 58.758 145.199 81.354 167.584 109.229 167.584 C 137.103 167.584 159.7 145.199 159.7 117.584 Z M 107.451 167.584 L 198.758 167.584 L 198.758 142.171 L 153.185 142.171 C 144.519 157.343 128.081 167.584 109.229 167.584 C 108.634 167.584 108.041 167.574 107.451 167.553 L 107.451 167.584 Z\" style=\"fill: rgb(90, 90, 90); stroke: rgb(51, 51, 51);\" transform=\"matrix(-1, 0, 0, -1, 257.515976, 235.167999)\" id=\"pump@cx_color\">\n      <title>Unit</title>\n    </path>\n    <text style=\"fill: rgb(98, 98, 98); font-family: &quot;Open Sans&quot;; font-size: 20px; font-weight: 700; white-space: pre; text-anchor: middle;\" x=\"123.978\" y=\"63.267\">SPRAY PUMP</text>\n    <text style=\"fill: rgb(40, 53, 147); font-family: &quot;Open Sans&quot;; font-size: 20px; font-weight: 700; white-space: pre;\" x=\"1026.875\" y=\"625.745\" transform=\"matrix(1, 0, 0, 0.999999, -1005.60144, -462.415833)\" id=\"pump@cx_status\"><title>Status</title>Stopped</text>\n  </g>\n  <g id=\"gate@cx_hide\">\n      <rect x=\"334.804\" y=\"52.811\" width=\"228.639\" height=\"218.973\" style=\"paint-order: stroke markers; fill-opacity: 0.47; fill: url(#pattern-1-0);\" id=\"gate@cx_move\"></rect>\n  </g>\n  \n</svg>\n\n    <!-- SVG FILE CONTENT ABOVE -->\n\n    <script>\n        (function($scope) {\n            const cxMove = \"cx_move\";\n            const cxColor = \"cx_color\";\n            const cxStatus = \"cx_status\";\n            const cxHide = \"cx_hide\";\n            const maxStatusLength = 12;\n\n\n            $scope.checkSVG = function() {\n\n                if (!$scope.graphicObjects) {\n                    $scope.graphicObjects = [];\n                }\n                recursiveEach($(\"#graphics\"), $scope.graphicObjects);\n                console.log($scope.graphicObjects);\n\n                function recursiveEach(element, container){\n                    element.children().each(function () {\n                        const $currentElement = $(this);\n                        if (this.id && this.id.indexOf('@') > 0) {\n                            container.push({\n                                id: this.id,\n                                element: $currentElement,\n                                cxMove: (this.id.indexOf(cxMove) > 0),\n                                cxColor: (this.id.indexOf(cxColor) > 0),\n                                cxStatus: (this.id.indexOf(cxStatus) > 0),\n                                cxHide: (this.id.indexOf(cxHide) > 0)\n                            });\n                        }\n                        recursiveEach($currentElement, container);\n                    });\n                }\n            };\n\n            $scope.$watch('msg', function() {\n                if (!$scope.msg) return;\n\n                if (Array.isArray($scope.msg.payload)) {\n                    for (let aReq of $scope.msg.payload) {\n                        animateObject(aReq.payload, aReq.topic);\n                    }\n                } else {\n                    animateObject($scope.msg.payload, $scope.msg.topic);\n                }\n            });\n\n            function animateObject(payload, topic) {\n\n                if (payload === undefined || payload === null ||\n                    !topic || typeof topic !== 'string' || !topic.includes('@')) return;\n\n                const id = topic.split('@')[0], cxType = topic.split('@')[1];\n\n                for (const graphicObject of $scope.graphicObjects) {\n                    if (graphicObject.id.indexOf(id) === -1 || graphicObject.id.indexOf(cxType) === -1) continue;\n\n                    if (cxType === cxColor && graphicObject.cxColor && typeof payload === 'string') {\n\n                        graphicObject.element.css({fill : payload});\n\n                    } else if (cxType === cxStatus && graphicObject.cxStatus && typeof payload === 'string') {\n                        const statusText = (payload.length > maxStatusLength) ?\n                            payload.substring(0, maxStatusLength - 3) + '...' : payload;\n\n                        graphicObject.element.text(statusText);\n\n                    } else if (cxType === cxHide && graphicObject.cxHide && typeof payload === 'boolean') {\n                        const displayAttr = (payload)? 'none' : '';\n                        graphicObject.element.css({display: displayAttr})\n\n                    } else if (cxType === cxMove && graphicObject.cxMove) {\n                        // SVGRect {x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938}\n                        const box = graphicObject.element[0].getBBox();\n                        const matrix = getMatrix(payload, box);\n                        if (matrix) graphicObject.element.attr('transform', matrix);\n\n                    }\n                }\n            }\n\n\n            function getMatrix(config, box) {\n                if (!config || !box) return;\n\n                // translation\n                const tx = config.x || 0;\n                const ty = config.y || 0;\n                // angle in radians\n                const rads = config.deg * (Math.PI / 180) || 0;\n                // rotation centre\n                // box = { x: 51.95399475097656, y: 54.69599914550781, width: 94.41000366210938, height: 94.41000366210938 }\n                const pivot_x = (config.pivot && config.pivot[0])? config.pivot[0] : 0;\n                const pivot_y = (config.pivot && config.pivot[1])? config.pivot[1] : 0;\n                const cx = box.x + box.width * ( (pivot_x)? pivot_x : 0 );\n                const cy = box.y + box.height * ( (pivot_y)? pivot_y : 0 );\n                // scaling\n                const sx = 1;\n                const sy = 1;\n\n                // matrix(0.594088, -0.516432, 0.62601, 0.720144, -223.586029, 145.949615)\n                return 'matrix(' +\n                    (sx * Math.cos(rads)) + ', ' + (sy * Math.sin(rads)) + ', ' +\n                    (-sx * Math.sin(rads)) + ', ' + (sy * Math.cos(rads)) + ', ' +\n                    ((-Math.cos(rads) * cx + Math.sin(rads) * cy + cx) * sx + tx) + ', ' +\n                    ((-Math.sin(rads) * cx - Math.cos(rads) * cy + cy) * sy + ty) + ')';\n            }\n\n        })(scope);\n    </script>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":60,"wires":[[]]},{"id":"6a0add13.b05664","type":"ui_slider","z":"476b5e78.8443f","name":"","label":"Base","tooltip":"","group":"e34dc0f7.34277","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"base@cx_move","min":0,"max":"90","step":1,"x":310,"y":120,"wires":[["f58e5b8f.5418a8"]]},{"id":"f58e5b8f.5418a8","type":"function","z":"476b5e78.8443f","name":"svg BASE","func":"return {\n    payload: {\n        x: 0,\n        y: 0,\n        deg: msg.payload,\n        pivot: [0.901, 0.902]\n    },\n    topic: msg.topic\n}","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["ed7d8350.3121f"]]},{"id":"6c4dd162.f3bbe","type":"ui_slider","z":"476b5e78.8443f","name":"","label":"Arm","tooltip":"","group":"e34dc0f7.34277","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"arm@cx_move","min":0,"max":"40","step":1,"x":310,"y":180,"wires":[["8723d264.b4933"]]},{"id":"8723d264.b4933","type":"function","z":"476b5e78.8443f","name":"svg ARM","func":"return {\n    payload: {\n        x: 0,\n        y: 0,\n        deg: msg.payload,\n        pivot: [0.669, 0.921]\n    },\n    topic: msg.topic\n}","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["ed7d8350.3121f"]]},{"id":"4fdef500.8e684c","type":"ui_slider","z":"476b5e78.8443f","name":"","label":"Clamp","tooltip":"","group":"e34dc0f7.34277","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"clamp@cx_move","min":0,"max":"60","step":1,"x":310,"y":60,"wires":[["7fed169b.42acf8"]]},{"id":"7fed169b.42acf8","type":"function","z":"476b5e78.8443f","name":"svg CLAMP/ROLLER","func":"const isClamped = (msg.payload !== 60);\n\nreturn {\n    payload: [\n        {\n            payload: {\n                x: 0,\n                y: 0,\n                deg: msg.payload,\n                pivot: [0.404, 0.879]\n            },\n            topic: msg.topic\n        },\n        {\n            payload: isClamped,\n            topic: 'spring@cx_hide'\n        }\n    ]\n}","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["ed7d8350.3121f"]]},{"id":"79efadb0.7fe494","type":"ui_switch","z":"476b5e78.8443f","name":"","label":"Pump","tooltip":"","group":"e34dc0f7.34277","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":420,"wires":[["38d00f21.eb4db"]]},{"id":"38d00f21.eb4db","type":"function","z":"476b5e78.8443f","name":"svg APIs","func":"const isPumpOn = msg.payload === true;\n\nreturn {\n    payload: [\n        {\n            payload: (isPumpOn)? 'green' : 'grey',\n            topic: 'pump@cx_color'\n        },\n        {\n            payload: (isPumpOn)? 'Running' : 'Stopped',\n            topic: 'pump@cx_status'\n        },\n        {\n            payload: !(isPumpOn),\n            topic: 'spray@cx_hide'\n        }\n    ]\n}","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["ed7d8350.3121f"]]},{"id":"f976588d.794278","type":"ui_switch","z":"476b5e78.8443f","name":"","label":"Wheel","tooltip":"","group":"e34dc0f7.34277","order":15,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":360,"wires":[["5cae21d.64039e"]]},{"id":"5cae21d.64039e","type":"function","z":"476b5e78.8443f","name":"svg WHEEL","func":"const isOn = msg.payload === true;\n\nreturn {\n    payload: [\n        {\n            payload: (isOn)? '#f1823d77' : '#aaaaaa77',\n            topic: 'wheel@cx_color'\n        }\n    ]\n}","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["ed7d8350.3121f"]]},{"id":"a9a783ef.5c7b","type":"function","z":"476b5e78.8443f","name":"svg GATE","func":"return {\n    payload: {\n        x: -1 * msg.payload,\n        y: 0,\n        deg: 0\n    },\n    topic: 'gate@cx_move'\n}","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["ed7d8350.3121f"]]},{"id":"532ffa0.a552b08","type":"inject","z":"476b5e78.8443f","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":360,"wires":[["79efadb0.7fe494","f976588d.794278","dfa4b1af.2d7ba"]]},{"id":"6f00c62.9d39738","type":"inject","z":"476b5e78.8443f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":60,"wires":[["4fdef500.8e684c","6a0add13.b05664","6c4dd162.f3bbe","c215cac4.b2eb38"]]},{"id":"c215cac4.b2eb38","type":"ui_slider","z":"476b5e78.8443f","name":"","label":"Gate","tooltip":"","group":"e34dc0f7.34277","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"arm@cx_move","min":0,"max":"100","step":1,"x":310,"y":240,"wires":[["a9a783ef.5c7b"]]},{"id":"dfa4b1af.2d7ba","type":"ui_switch","z":"476b5e78.8443f","name":"","label":"Show Gate","tooltip":"","group":"e34dc0f7.34277","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":300,"wires":[["691af23f.48cbcc"]]},{"id":"691af23f.48cbcc","type":"function","z":"476b5e78.8443f","name":"svg hide GATE","func":"return {\n    payload: msg.payload,\n    topic: 'gate@cx_hide'\n}","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["ed7d8350.3121f"]]},{"id":"4e289f9f.33bda","type":"ui_group","z":"","name":"Graphics","tab":"f4a280b3.9a702","order":2,"disp":true,"width":"20","collapse":false},{"id":"e34dc0f7.34277","type":"ui_group","z":"","name":"Controls","tab":"f4a280b3.9a702","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4a280b3.9a702","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
